body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
.journal-box {
    background: white;
    padding: 20px;
    border: 2px solid blue;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
textarea {
    width: 80%;
    height: 150px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
#entriesList {
    margin-top: 20px;
    text-align: left;
    width: 80%;
    margin: auto;
}